
First Projekt/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
First Projekt/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
First Projekt/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
First Projekt/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
